<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/jquery.min.js"></script>


    <div id="list">
        <table>
            <tr>
                <td>id</td>
                <td>数据库</td>
            </tr>
            <tr v-for="d in dlist">
                <td>{{d.id}}</td>
                <td>{{d.database}}</td>
                <td><button type="button" @click="gopricing(d.id,d.database)">查询</button></td>
            </tr>
        </table>
        <table>
            <p>表名</p>
            <tr v-for="table in tables">
                <td>{{table}}</td>
                <td><button type="button" @click="getAllDatas(id,catalog,table)">查询</button></td>
            </tr>
        </table>

       <!-- <table>
            <p>数据</p>
            <tr>
                <td v-for="(value,key) in datas[0]">{{key}}</td>
            </tr>
            &lt;!&ndash;<tr v-for="data in datas">
                <td v-for="(value,key) in data">{{value}}</td>
            </tr>&ndash;&gt;

        </table>-->

        <!--<table>
            <p>列名</p>
            <tr>
                <td>列名</td>
                <td>类型</td>
            </tr>
            <tr v-for="(value,key) in columns">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>-->
    </div>




<script>
    new Vue({
        el: "#list",
        data:{
            id:null,
            catalog:null,
            table:null,
            catalogs:[],
            tables:[],
            columns:[],
            datas:[],
            dlist:[]
        },
        created(){
            this.getDList()
            this.getColumns()
        },
        methods:{
            gopricing:function(id,catalog){
              sessionStorage.setItem("id",id)
                sessionStorage.setItem("catalog",catalog)
                window.location.href= "/pricing"
            },
            getTables:function(id,catalog){
                var url="/db-detail/listTables"
                axios.get(url,{headers:{"Config-Id":id},params:{catalog:catalog}}).then(response=>{
                    this.tables=response.data.tables
                    this.id=id
                    this.catalog=catalog
                })
            },

            getAllDatas:function (id,catalog,table) {
                var url="/db-detail/getAllDatas"
                axios.get(url,{headers:{"Config-Id":id},params:{catalog:catalog,table:table}}).then(response=>{
                    this.datas=response.data.datas
                    this.table=table
                })
            },

            getDList(){
                var url = "/db-list/list"
                axios.get(url).then(response=>{
                    this.dlist=response.data.list
                })
            },

            getColumns(){
                var url="/db-detail/listColumns"
                axios.get(url,{headers:{"Config-Id":"1"},params:{catalog:"test",table:"本部门诊工作报表"}}).then(response=>{
                    this.columns=response.data.columns
                })
            },

        }
    })

</script>