<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bro.bisystem.bi.mapper.DbDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bro.bisystem.bi.pojo.DbDetail">
        <id column="id" property="id" />
        <result column="list_id" property="listId" />
        <result column="filed" property="filed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, list_id, filed
    </sql>

</mapper>
